export RALPH_PLANS_URL=http://ralph-plans.localhost:8000
export RALPH_LOGS_HOST=127.0.0.1
export RALPH_LOGS_PORT=8002
export RALPH_COUNTS_HOST=127.0.0.1
export RALPH_COUNTS_PORT=8003
export RALPH_SHOWS_HOST=127.0.0.1
export RALPH_SHOWS_PORT=8004
